Requirements:

 - Obfuscate all but the first 6 digits of the values in the "Card Number" field using '#' characters
 - Obfuscate the entire "Expiry" column using '#' characters
 - Remove all trace of the "CV2" column
 - Preserve column order of the remaining fields
 - Write clean output to ~/cust-db/sanitised/clean-customer-data

